<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
 </head>
 <body>
  <h1> My Super Cool Friends List </h1>

  <% @friends.each do |friend| %>
    <%=friend %>
  <% end %>

 </body>
</html>