<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Super Cool Friends List</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  </head>

  <body>
    <h1>My Super Cool Friends List</h1>

    <% @friends.each do |friend| %>
    <h2><%= friend %></h2>
    <% end %>
    <h2>Emily Wilding Davison</h2>
    <h2>Harriet Tubman</h2>
    <h2>Joan of Arc</h2>
    <h2>Malala Yousafzai</h2>
    <h2>Sojourner Truth</h2>

  </body>
</html>