<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>If this page shows up, you've got it!</title>
</head>
<body>
  <h1> I really hope this works for you. What do you see?</h1>
  <h2> Hello, my username is  <%= @original_info %></h2><br>
  <p><%= @other_info %></p><br>

</body>

</html>
