<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <title> Welcome! </title>
  </head>
  <body>
    <h1>This is my homepage</h1>
    <form method="POST" action="/">
      <label for="username">Username:</label>
        <input type="text" name="username"<br>
      <label for="description">Tell me about yourself:</label>
        <input type="text" name="description"<br>
        <input type="submit">
    </form>
  </body>
</html>
