  
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
 </head>
 <body>
  <h1> Your Reversed String!</h1>
  
<!--   Use ERB tags to bring in an instance variable containing the reversed string -->
  <p><%=@reversed_string%></p>

 </body>
</html>